$upComputer: "Ваш компьютер подключен к сети интернет."
$upDevice: "Ваше устройство подключено к сети интернет."
$upDeviceSmall: "Ваше устройство подключено."

$downComputer: "Ваш компьютер не подключен к сети интернет."
$downDevice: "Ваше устройство не подключено к сети интернет."
$downDeviceSmall: "Ваше устройство не подключено."

$connecting: "Попытка подключения..."

$retryButton: "Подключиться"

$reconnectFailed: "Подключиться не удалось."

$retryingSecondBeforeValueSingularComputer: "Соединение потеряно. Подключение через "
$retryingSecondBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingMinuteBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingMinuteBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingHourBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingHourBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingSecondBeforeValueSingularDeviceSmall: "Подключение через "
$retryingSecondBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingMinuteBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingMinuteBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingHourBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingHourBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingSecondAfterValueSingularComputer: " сек..."
$retryingSecondAfterValuePluralComputer: " сек..."

$retryingSecondAfterValueSingularDeviceSmall: "сек..."
$retryingSecondAfterValuePluralDeviceSmall: $retryingSecondAfterValueSingularDeviceSmall

$retryingMinuteAfterValueSingularComputer: " мин..."
$retryingMinuteAfterValuePluralComputer: " мин..."

$retryingMinuteAfterValueSingularDeviceSmall: "мин..."
$retryingMinuteAfterValuePluralDeviceSmall: $retryingMinuteAfterValueSingularDeviceSmall

$retryingHourAfterValueSingularComputer: " час..."
$retryingHourAfterValuePluralComputer: " час..."

$retryingHourAfterValueSingularDeviceSmall: "час..."
$retryingHourAfterValuePluralDeviceSmall: $retryingHourAfterValueSingularDeviceSmall